:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  background-color: var(--mat-sys-surface-container-low);

  mat-accordion {
    --mat-expansion-container-shape: 0px;
    --mat-expansion-container-background-color: transparent;
    mat-expansion-panel {
      ::ng-deep.mat-expansion-panel-body {
        padding: 0px;
        border-radius: 0px;
      }
    }
  }

  .search-area {
    flex-grow: 0;
    flex-shrink: 0;
    height: 56px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    .search-box {
      height: 56px;
      border-radius: 28px;
      background-color: var(--mat-sys-on-primary);
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      padding: 0px 16px;

      input {
        font-size: 16px;
        flex-grow: 1;
        border: 0px transparent;
        outline: 0px transparent;
      }

      mat-icon {
        color: var(--mat-sys-primary);
      }
    }
  }

  .sites-area {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    position: relative;
    display: flex;
    flex-direction: column;

    .scrollable {
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      width: 100%;
      height: 100%;

      overflow: auto;

      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
