@let vm = store.vm();

<div class="search-area">
  <div class="search-box">
    <input type="search" #searchBox
      placeholder="הקלידו שם אתר או מספר חוזה"
      [value]="store.searchWord()" 
      (input)="store.setSearchWord(searchBox.value)" />
      <mat-icon class="search-icon">search</mat-icon>
  </div>
</div>

<div class="sites-area">
  <div class="scrollable">
    <mat-accordion multi>
      @for(group of vm.groups; track group.key) {
      <mat-expansion-panel [expanded]="true" class="mat-elevation-z0">
        <mat-expansion-panel-header>
          {{ group.title }}
        </mat-expansion-panel-header>
        @for(site of group.sites; track site.id) {
        <app-sites-item [site]="site" 
          (click)="store.setSelectedSiteId(site.id)"/>
        }
      </mat-expansion-panel>

      }
    </mat-accordion>
  </div>
</div>
