:host {
    position: relative;
    flex: 1;

    .scrollable {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}