:host {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0px 24px;
    height: 60px;
    align-items: center;

    border: 1px solid var(--mat-sys-surface-dim, rgba(0, 0, 0, 0.06));
}