@for(inv of vm(); track inv.id) {
    <div class="invoice"
        [class]="inv.status"
    >
        <div class="date">
            {{inv.date | date: 'dd.MM.yyyy'}}
        </div>
        <div class="amount">
            {{ inv.totalAmount | currency: 'ILS':'symbol':'1.2-2' }}
        </div>
        <div class="status">
            <div class="status-name">
                {{inv.statusLabel}}
            </div>
            <div class="status-icon">
                <mat-icon>{{inv.statusIcon}}</mat-icon>
            </div>
        </div>
    </div>
}

