@mixin go() {
    --color-success: #4caf50;
    --color-on-success: #ffffff;
    --color-accent: #82b1ff;
    --color-on-accent: #ffffff;
    --color-button-2-hover: #1976d2;
    --color-button-2-pressed: #0d47a1;
    --color-disabled: var(--mat-sys-surface-dim);
    --color-on-disabled: var(--mat-sys-outline);
}