:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.08);

  .logo-area {
    display: flex;
    img {
      height: 64px;
    }
  }

  .company-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--mat-sys-on-background);

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
  }

  .tools-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    column-gap: 8px;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border: 0px none;
    outline: 0px none;
    .user-initials {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: var(--mat-sys-primary);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: var(--mat-sys-on-primary);
    }

    .divider {
      width: 1px;
      background-color: var(--mat-sys-surface-dim);
      margin: 0 8px;
      align-self: stretch;
    }

    button.logout {
      margin: 0px 16px;

      mat-icon {
        color: var(--mat-sys-on-background);
      }
    }
  }
}
