:host {
    display: grid;
    grid-template-columns: clamp(280px, 28%, 364px) 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: 
        "header header"
        "nav-bar nav-bar"
        "sites site-title"
        "sites content"
        ;

    app-header {
        grid-area: header;
    }

    .sites {
        grid-area: sites;
        display: flex;
        flex-direction: column;
    }

    .content-area {
        grid-area: content;
    }

    app-nav-bar {
        grid-area: nav-bar;
    }
    app-site-title {
        grid-area: site-title;
    }   
}