:host {
  flex-grow: 1;
  align-self: flex-start;
  display: grid;
  position: relative;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "period period"
    "totals totals"
    "invoices washes";
  gap: 24px;
  padding: 24px;
}

.period-selector-area {
  grid-area: period;
}

.totals-area {
  grid-area: totals;
  display: flex;
  flex-direction: row;
  gap: 16px;

  & > div.area {
    width: 250px;
    height: 250px;
    background-color: var(--a-30);
    padding: 24px;
    border-radius: 8px;

    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    .value {
      font-size: 35px;
      font-weight: 500;
    }

    .label {
      font-size: 18px;
      font-weight: 500;
    }

    .image {
      img {
        height: 100px;
      }
    }
  }
}

.data-area {
  display: flex;
  flex-direction: column;
  background: var(--n-05);
  border-radius: 8px;
  padding: 16px;
  gap: 8px;  

  &.invoices-area {
    grid-area: invoices;
  }

  &.washes-area {
    grid-area: washes;
  }

  .area-title {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
  }

}

@media screen and (max-width: 1440px) {
  :host {
    .totals-area {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
