@let data = store.dashboardData(); @if(data.status === 'busy') {
<app-busy />
}

<div class="period-selector-area">
  <button mat-button [mat-menu-trigger-for]="periodMenu" class="company-area">
    {{ store.selectedPeriodLabel() }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #periodMenu="matMenu">
    @for(c of store.possiblePeriods(); track c.period) {
    <button mat-menu-item (click)="store.setSelectedPeriod(c.period)">
      {{ c.label }}
    </button>
    }
  </mat-menu>
</div>
<div class="totals-area">
  <div class="area production-area">
    <div class="image">
      <img src="graphics/dashboard-icons/flower.svg" alt="flower" />
    </div>
    <div class="value" [style.direction]="'ltr'">
      {{ totals().totalEnergy | number }} KWH
    </div>
    <div class="label">תפוקה</div>
  </div>
  <div class="area daylight-area">
    <div class="image">
      <img src="graphics/dashboard-icons/sunrise.svg" alt="flower" />
    </div>
    <div class="value" [style.direction]="'ltr'">
      {{ totals().daylightHoursAvg | timespan}}
    </div>
    <div class="label">ממוצע שעות אור יומי</div>
  </div>
  <div class="area efficiency-area">
    <div class="image">
      <img src="graphics/dashboard-icons/rocket.svg" alt="flower" />
    </div>
    <div class="value" [style.direction]="'ltr'">
      {{ totals().efficiency | percent}} 
    </div>
    <div class="label">ניצולת \ אפקטיביות</div>
  </div>
  <div class="area price-area">
    <div class="image">
      <img src="graphics/dashboard-icons/coins.svg" alt="flower" />
    </div>
    <div class="value">
      {{ totals().totalRevenue| currency: 'ILS':'symbol':'1.0-0' }}
    </div>
    <div class="label">הערכת מחיר</div>
  </div>

</div>
<div class="invoices-area data-area">
  <div class="area-title">
    <mat-icon>receipt_long</mat-icon>
    חשבוניות אחרונות
  </div>
  <app-dashboard-invoices/>
  <div class="area-link">
    <a matButton  [routerLink]="['/user','invoices']">
      לכל החשבוניות
      <mat-icon class="mat-icon-rtl-mirror">arrow_forward</mat-icon>
    </a>
  </div>
</div>
<div class="recommendations-area data-area">
  <div class="area-title">
    <mat-icon>reviews</mat-icon>
    המלצות אחרונות
  </div>
  <app-dashboard-washes/>
</div>
