:host {
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    mat-icon {
        font-size: 13px;
        width: auto;
        height: auto;
        transition: 0.3s;

        &.desc {
            transform: rotate(180deg);
        }
        &.none {
            opacity: 0;
        }
    }
}