:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    lib-table {
        height: 800px;

        .fancy {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            color: var(--p-50);



            &.selected {
                font-weight: bold;
            }
        }

        .actions {
            opacity: calc(0.3 + 0.7 * var(--lib-table-cell-hover));
        }
    }
}