:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrapper {
        padding: 2% 4%;
        width: min(1200px, calc(100% - 40px));
        height: auto;
        aspect-ratio: 10 / 7;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5%;

        .image-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                aspect-ratio: 7 / 10;
                object-fit: cover;
                border-radius: 50% / 35%;

            }
        }

        .form-area {
            display: flex;
            flex-direction: column;

            .header-panel {
                color: var(--color-success);
                font-family: var(--mat-sys-display-large-font);
                font-weight: 700;
                font-size: min(60px, 5vw);
            }

            .form-panel {
                margin-top: auto;
            }
        }
    }
}