<div class="wrapper">
    <div class="form-area">
        <div class="logo-panel">
            <img src="graphics/logo.png" alt="logo"/>
        </div>
        <div class="header-panel">
            <div class="header-row">
                ירוק יותר
            </div>
            <div class="header-row">
                מתחדש יותר
            </div>
            <div class="header-row">
                אנרגטי יותר
            </div>
        </div>
        <div class="form-panel">
            <form>
                <div class="form-row">
                    <input type="text"  placeholder="שם משתמש"/>
                </div>
                <div class="form-row">
                    <input type="password" placeholder="סיסמה"/>
                </div>
                <div class="form-row">
                    <button type="submit" >כניסה</button>
                </div>
            </form>
        </div>
    </div>
    <div class="image-area">
        <img class="deco-img" src="graphics/arcs-deco.svg"/>
        <img class="solar-img" src="graphics/solar.png"/>
    </div>
</div>