<div class="wrapper">
    <div class="form-area">
        <div class="logo-panel">
            <img src="graphics/logo.png" alt="logo"/>
        </div>
        <div class="header-panel">
            <div class="header-row">
                ירוק יותר
            </div>
            <div class="header-row">
                מתחדש יותר
            </div>
            <div class="header-row">
                אנרגטי יותר
            </div>
        </div>
        <div class="form-panel">
            <mat-form-field>
                <mat-label>קוד משתמש</mat-label>
                <input matInput type="text" 
                    [(ngModel)]="usercode"
                    [disabled]="auth.user().status === 'busy'">
            </mat-form-field>
            <mat-form-field>
                <mat-label>סיסמה</mat-label>
                <input matInput type="password" 
                    [(ngModel)]="password"
                    [disabled]="auth.user().status === 'busy'">
            </mat-form-field>
            @if(auth.errorMessage(); as errMsg) {
                <div class="error-message">
                    {{errMsg}}
                </div>
            }
            <button class="login-button" (click)="login()"
                [disabled]="!canSubmit() || auth.user().status === 'busy'"
                >
                <span>כניסה</span>
                @if(auth.user().status === 'busy') {
                    <mat-icon class="animated">progress_activity</mat-icon>
                } @else {
                    <mat-icon>arrow_forward</mat-icon>
                }
            </button>
        </div>
    </div>
    <div class="image-area">
        <img class="deco-img" src="graphics/arcs-deco.svg"/>
        <img class="solar-img" src="graphics/solar.png"/>
    </div>
</div>