<div class="tools-area">
  <mat-icon class="logout">logout</mat-icon>
  {{ auth.userEmail() }}
  <div class="user-initials">{{ auth.userInitials() }}</div>
  <div class="divider"></div>
  <mat-icon filled class="settings">settings</mat-icon>
</div>

  <button mat-button [mat-menu-trigger-for]="companyMenu" class="company-area">
    {{ auth.selectedCompanyName() }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #companyMenu="matMenu">
    @for(c of auth.possibleCompanies(); track c.id) {
    <button mat-menu-item (click)="auth.selectCompany(c.id)">
      {{ c.dispalyName }}
    </button>
    }
  </mat-menu>

<div class="logo-area">
  <img src="graphics/logo.png" alt="Logo" class="logo" />
</div>
