:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    pre {
        font-size: 2.0rem;
        font-weight: 600;
        font-family: 'Fredoka One', sans-serif;
        color: var(--color-success);
        text-align: left;
        margin-top: 20px;
        flex-shrink: 0;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-self: right;
        margin-top: 10%;

    }
    button {
        margin-top: 20px;
       
        
        
        color: var(--mat-sys-on-primary);
        background-color: var(--color-accent);
    }
}