:host {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    height: var(--row-height);
    box-shadow: 0px 2px 4px rgba(11, 25, 48, 0.12);
    padding-inline-end: 8px;
    overflow-x: hidden;

    .cell {
        width: calc(var(--width) * 1px);
        flex-shrink: 0;
        flex-basis: calc(var(--width) * 1px);
        flex-grow: var(--grow);
        flex-shrink: 0;
        overflow: hidden;  
        display: flex;
        flex-direction: row;
        user-select: none;
        padding: 8px;

        &.sortable {
            cursor: pointer;
        }

        .header-content {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .header-tools {
            display: flex;
            flex-direction: row;
            align-self: center;
            margin-inline-start: 10px;
        }
    }
}